.container {
  .header {
    padding-top: 120px;
    display: flex;
    flex-flow: column;
    min-height: 230px;

    .judul {
      position: relative;
      height: 50vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("assets/Images/bg-testimonial.png");
      background-size: 30%;
    }
    .judul::before {
      content: "";
      background-color: bisque;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.65;
    }
  }
  .tagline {
    justify-content:space-between;
    .img-product {
      position: absolute;
      padding-top: 20px;
      padding-left: 240px;
      height: 60px;
      
      z-index: 99999;
      img {
        width: 240px;
        background-color: white;
        padding: 10px;
      }
    }

    .hero {
      color: rgb(26, 15, 2) !important;
      font-size: 40px;
      position: absolute;
      padding-top: 170px;
      padding-left: 800px;
      font-weight: 900;
      width: 420px;
      z-index: 99999;
      line-height: 0.5;
      .information-text{
        font-size:20px;
        font-weight: 100;
        line-height: 0.1 !important;
       
      }
      h4 {
        margin-top: 0px;
        font-size: 32px;
        line-height: 0.9;
      }
      
      u {
        text-decoration: underline;
        text-decoration-color: chocolate;
      }
    }
  }
}
